<div class="sub-content-wrapper">
	<div class="social-title">
		<p>Minhas redes sociais:</p>
	</div>
	<div class="social-nav">
		<div onclick="onShowContact(this)" id="social_whats" class="social-section">
			<img src="/images/icons/social_whatsapp.png">
		</div>
		<div onclick="onShowContact(this)" id="social_linkd" class="social-section">
			<img src="/images/icons/social_linkedin.png">
		</div>
		<div onclick="onShowContact(this)" id="social_insta" class="social-section">
			<img src="/images/icons/social_instagram.png">
		</div>
		<div onclick="onShowContact(this)" id="social_git" class="social-section">
			<img src="/images/icons/social_github.png">
		</div>
	</div>
	<div class="social-content">
		<span id="social_default_content" class="social-inner active">
			<h1>alan.fncc@outlook.com.br</h1>
		</span>
		<span id="social_whats_content" class="social-inner">
				<h1>(71) 99718-7385 / (71) 99111-3349</h1>
		</span>
		<span id="social_linkd_content" class="social-inner">
			<a target="_blank" href="https://www.linkedin.com/in/alan-felix-414b92128/">
				<h1>linkedin.com/in/alan-felix</h1>
			</a>
		</span>
		<span id="social_insta_content" class="social-inner">
			<a target="_blank" href="https://www.instagram.com/fenix.alan/">
				<h1>instagram.com/fenix.alan</h1>
			</a>
		</span>
		<span id="social_git_content" class="social-inner">
			<a target="_blank" href="https://github.com/alanfelixnc/">
				<h1>github.com/alanfelixnc</h1>
			</a>
		</span>
	</div>
</div>